.App{
    display: flex;
    justify-content: center;
    height: 100vh;
    /* align-items: center; */
}
.app_body{
    display: flex;
    background-color:#ebebeb;
    height: 90%;
    width: 90%;
}